<!Doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    @await Html.PartialAsync("_navbar")

    Product Contac Us And Welcome to my Spesical Web page

</body>
</html>