<h1 class="h3">Forgot Password</h1>

<hr />


<div class="row">

    <div class="col-md-8">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
           
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">User Name</label>
                <div class="col-sm-10">
                    <input class="form-control" type="email" name="userName">

                </div>
            </div>


            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js" integrity="sha512-6S5LYNn3ZJCIm0f9L6BCerqFlQ4f5MwNKq+EthDXabtaJvg3TuFLhpno9pcm+5Ynm6jdA9xfpQoMz2fcjVMk9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}
