<header>
    <div class="card">
        <div class="card-header">
            <h1 class="display-4">Goksel Ogreniyor</h1>
        </div>
        <div class="card-body">
            <p>Goksel Bootsrapçi olacak</p>
        </div>
    </div>
</header>